<article class="well no-background">
  <div class="flex">
    <h1><%= @ticket.name %></h1>
    <%= link_to 'Edit', edit_ticket_path(@ticket), class: disable_if_logged_out %>
    <span></span>
    <%= link_to 'Delete', ticket_path(@ticket), method: :delete, class: disable_if_logged_out %>
  </div>

  <% if @ticket.tags.present? %>    
    <small><%= tag_names(@ticket) %></small>
  <% end %>  

  <hr/>  

  <p><%= @ticket.body %></p>

  <hr/>
  
  <section class="flex info">
    <dl>
      <dt>Status</dt>
      <dd><%= @ticket.status.titleize %></dd>
    </dl>

    <dl>
      <dt>Creator</dt>
      <dd><%= @ticket.user.name %></dd>
    </dl>

    <dl>
      <dt>Assignee</dt>
      <dd><%= assignee_name(@ticket) %></dd>
    </dl>
  </section>
</article>

<br/>

<article class="well no-background">
  <h2>Comments</h2>
  <br />
  <% if @comments.present? %>
    <%= render @comments %>
  <% else %>
    <small>No comments to display. Please create one using the form below.</small>
  <% end %>
</article>

<% if logged_in? %>
  <section class="well">
    <%= render 'comments/form' %>
  </section>
<% end %>